<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>
                    We are providers of professional development programs designed to augment the skills of professionals and to help organizations achieve their business goals.
                    </p>
                    <p><strong>Our vision: </strong> To be the preferred learning services provider across the globe. Our promise is to provide value-based training, coaching, and consulting solutions to professionals and organizations
                    </p>
                    <p>
                    <strong>Tech Tutor</strong> was founded in 2015 by IT Professionals having more than 2 decades in the industry in leadership positions.
                    </p>
                    <p>
                    <strong>Our Philosophy:</strong> Learning should be everyone’s right and trainings should value add to individuals and the organization at large.
                    </p>
                    <p>
                    With this philosophy at the foundation, we strive continuously to deliver quality trainings by qualified and certified instructors who come with years of industry expertise.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
